/* Styles for the Dropzone component */
.dropzone {
    border: 2px dashed #333 !important;
    border-radius: 5px !important;
    padding: 20px !important;
    text-align: center !important;
    background-color: #918b8b;
}

.dropzone p {
    margin: 0;
    font-size: 16px;
}

.dropzone.active {
    background-color: #f7f7f7 !important;
}

.dropzone.accept {
    border-color: #4CAF50 !important;
}

.dropzone.reject {
    border-color: #FF5252 !important;
}

.dropzone-wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}