.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 100%;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-container{
    padding-top: 15px;
    width: 50%;
}

.login-button{
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    width: 50%;
}
  
.google-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.forgot-password {
    margin-top: 15px;
}
  
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}
  
.forgot-password a:hover {
    text-decoration: underline;
}

.bottom{
    position: absolute;
    bottom: 10px;
    
}

.sign-up{
    color: #007bff;
    text-decoration: none;
    margin-top: 5px;
}

.sign-up:hover{
    text-decoration: underline;
}