body{
    background-color: #f2f2f2;
}

.launch-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.background {
    border-radius: 25px;
    background-image: url('https://cdn.discordapp.com/attachments/1074703087278755850/1102815137565515786/800px-Sea_Otter_28Enhydra_lutris29_282516979052429_crop.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
  
.content{
    text-align: left;
    z-index: 1;
    width: 50%;
    padding: 2rem;
}
  
.logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    /* margin-bottom: 2rem; */
}
  
.title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
  
.description {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 500px;
}

  