.background-signup {
    background-color: #52AD9C;
}

.paper-signup {
    display: flex;
    align-self: center;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #52AD9C;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
  

.input-container{
    padding-top: 15px;
    width: 50%;
}

.signup-button{
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo-signup {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    /* margin-bottom: 2rem; */
}
